@import "/assets/css/style.css";

section#faixa-google-patern 
div#container-faixa-google {
  height: 142px;
  background: linear-gradient(to right, #10133B, #1E2060);
}

section#faixa-google-patern 
div#container-faixa-google
img {
  display: block;
  width: 94px;
  position: absolute;
  top: 23px;
  left: 73px;
}

section#faixa-google-patern 
div#container-faixa-google
h3 {
  display: flex;
  color: white;
  font-family: 'Mulish', sans-serif;
  margin: auto;
}

section#faixa-google-patern 
div#container-faixa-google
p {
  color: white;
  font-family: 'Roboto', sans-serif;
}


