@import "../global/global.css";
@import "../global/utilitario.css";

.faixa-google-partner {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  flex-direction: column;
}

.hover-partner {
  position: relative;
  transition: max-height 0.3s ease;
  max-height: 150px;
}

.hover-partner:hover {
  max-height: 264px;
}

.faixa-principal-box {
  background: linear-gradient(to right, #10133B, #1E2060);
  margin: 10px auto;
  border-radius: 100px;
  position: relative;
  z-index: 10;
  transition: transform 0.3s ease;
  width: 98%;
}

.container-faixa-google {
  display: flex;
  height: 142px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.google-partner-selo img {
  display: flex;
  width: 120px;
  align-items: center;
}

.titulo-faixa-google {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-mulish);
  color: white;
  letter-spacing: 0.5px;
}

.google-partner-result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-50%);
  margin: auto;
  width: 98%;
  height: 200px;
  background-color: #fff;
  z-index: 1;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.google-partner-result p {
  max-width: 763px;
  font-size: 18px;
  padding-top: 60px;
  font-family: var(--font-roboto);
  font-weight: 500;
  color: #10133B;
  text-align: justify;
}

.faixa-principal-box:hover {
  transform: translateY(-20px);
}

.faixa-principal-box:hover + .google-partner-result {
  opacity: 1;
  transform: translateY(-50%);
  pointer-events: auto;
}

/* Extra pequeno (até 320px) */
@media (max-width: 320px) {
  .container-faixa-google {
    height: 142px;
    gap: 10px;
  }
  .titulo-faixa-google {
    max-width: 150px;
    font-size: 18px;
  }
  .google-partner-selo img {
    max-width: 60px;
  }
  .google-partner-result p {
    max-width: 200px;
    font-size: 13px;
  }
}

/* Pequeno (321px a 360px) */
@media (min-width: 321px) and (max-width: 360px) {
  .container-faixa-google {
    height: 142px;
    gap: 20px;
  }
  .titulo-faixa-google {
    max-width: 180px;
    font-size: 22px;
  }
  .google-partner-selo img {
    max-width: 70px;
  }
  .google-partner-result p {
    max-width: 240px;
    font-size: 14px;
  }
}

/* Médio (361px a 414px) */
@media (min-width: 361px) and (max-width: 414px) {
  .container-faixa-google {
    height: 142px;
    gap: 20px;
  }
  .titulo-faixa-google {
    max-width: 195px;
    font-size: 23px;
  }
  .google-partner-selo img {
    max-width: 70px;
  }
  .google-partner-result p {
    max-width: 300px;
    font-size: 15px;
  }
}

/* Grande (415px a 480px) */
@media (min-width: 415px) and (max-width: 480px) {
  .container-faixa-google {
    height: 150px;
    gap: 30px;
  }
  .titulo-faixa-google {
    max-width: 225px;
    font-size: 28px;
  }
  .google-partner-selo img {
    max-width: 85px;
  }
  .google-partner-result p {
    max-width: 320px;
    font-size: 15px;
  }
}

/* Pequenas Telas (481px a 600px) */
@media (min-width: 481px) and (max-width: 600px) {
  .container-faixa-google {
    height: 142px;
    gap: 20px;
  }
  .titulo-faixa-google {
    max-width: 220px;
    font-size: 28px;
  }
  .google-partner-selo img {
    max-width: 80px;
  }
  .google-partner-result p {
    max-width: 310px;
    font-size: 15px;
  }
}

/* Celular Grande / Tablets em pé (601px a 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  .container-faixa-google {
    height: 142px;
    gap: 25px;
  }
  .titulo-faixa-google {
    font-size: 29px;
  }
  .google-partner-selo img {
    max-width: 90px;
  }
  .google-partner-result p {
    max-width: 550px;
    font-size: 16px;
  }
}

/* Tablets em paisagem / pequenos laptops (769px a 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .container-faixa-google {
    height: 142px;
    gap: 40px;
  }
  .titulo-faixa-google {
    font-size: 32px;
  }
  .google-partner-selo img {
    max-width: 100px;
  }
  .google-partner-result p {
    max-width: 620px;
    font-size: 16px;
  }
}

/* Desktops padrão (993px a 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  .container-faixa-google {
    height: 142px;
    gap: 50px;
  }
  .titulo-faixa-google {
    font-size: 32px;
  }
  .google-partner-selo img {
    max-width: 110px;
  }
  .google-partner-result p {
    max-width: 640px;
    font-size: 17px;
  }
}

/* Telas grandes (acima de 1200px) */
@media (min-width: 1201px) {
  .container-faixa-google {
    height: 142px;
    gap: 50px;
  }
  .titulo-faixa-google {
    font-size: 40px;
  }
  .google-partner-selo img {
    max-width: 120px;
  }
  .google-partner-result p {
    max-width: 763px;
    font-size: 18px;
  }
}

