@import "../global/global.css";
@import "../global/utilitario.css";

.faixa-google-partner {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  flex-direction: column;
}

.hover-partner {
  position: relative;
  transition: max-height 0.3s ease;
  max-height: 150px;
}

.hover-partner:hover {
  max-height: 264px;
}

.faixa-principal-box {
  background: linear-gradient(to right, #10133B, #1E2060);
  margin: 10px auto;
  border-radius: 100px;
  position: relative;
  z-index: 10;
  transition: transform 0.3s ease;
  width: 98%;
}

.container-faixa-google {
  display: flex;
  height: 142px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.google-partner-selo {
  display: flex;
  width: 120px;
  align-items: center;
}

.titulo-faixa-google {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  font-family: var(--font-mulish);
  color: white;
  letter-spacing: 0.5px;
}

.google-partner-result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-50%);
  margin: auto;
  width: 98%;
  height: 200px;
  background-color: #fff;
  z-index: 1;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.google-partner-result p {
  max-width: 645px;
  padding-top: 60px;
  font-family: var(--font-roboto);
  font-weight: 500;
  color: #10133B;
  text-align: justify;
}

.faixa-principal-box:hover {
  transform: translateY(-20px);
}

.faixa-principal-box:hover + .google-partner-result {
  opacity: 1;
  transform: translateY(-50%);
  pointer-events: auto;
}