.menu-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 20px 50px;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.menu-navbar.transparent {
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-navbar.transparent .menu-list a {
  color: var(--color-primary); 
}

.menu-navbar.transparent .menu-list a::after {
  background-color: var(--color-primary);
}

.menu-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 12px 32px;
  gap: 64px;
}

.menu-logo{
  margin-right: auto;
}
#menu-imagem-logo{
  width: 80px;
  height: 80px;
}

.menu-logo img {
  width: 250px;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

body.home .menu-list a {
  display: inline-block;
  padding: 12px 0;
  font-family: var(--font-mulish);
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 16px;
  position: relative;
  font-weight: 500;
}

body.home .menu-list a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: white;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

body.internal .menu-list a {
  display: inline-block;
  padding: 12px 0;
  font-family: var(--font-mulish);
  text-decoration: none;
  color: var(--color-primary);
  font-size: 20px;
  margin-right: 16px;
  position: relative;
  font-weight: 500;
}

body.internal .menu-list a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--color-primary);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}


.menu-list > li > a:hover::after,
.menu-list > li > a.ativo:hover::after {
  width: 100%;
}

.menu-no-hover > a:hover::after {
  width: 0 !important;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .menu-dropdown {
  display: none;
}

[data-dropdown]:hover .menu-dropdown,
[data-dropdown].active .menu-dropdown {
  display: block;
  animation: showUp 0.3s forwards;
}

.menu-dropdown {
  padding: 20px;
  top: 49px;
  position: absolute;
  background: #f8f8f8;
  z-index: 200;
  width: max-content;
  border-radius: 5px;

}

.menu-dropdown a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #0b0d3e;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #24294E;
}

.menu-dropdown li a {
  color: #0b0d3e !important;
  font-weight: 500;
}

.menu-dropdown li a:hover::after {
  background-color: #0b0d3e;
  width: 100%;
}

.menu-button {
  display: none;
}

#menu-img-mb {
  display: none;
}

/* Animações */
@keyframes showUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsivo */
@media (max-width: 900px) {
  .menu-navbar {
    margin: 0;
    border-radius: 0;
  }

  .menu-button {
    display: flex;
    align-items: center;
    background-color: #222;
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: var(--font-mulish);
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 300;
  }

  .menu-button.active::before {
    transform: rotate(90deg);
  }

  .menu-button::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
  }

  #menu {
    display: none;
    position: fixed;
    background-color: #f8f8f8;
    width: 200px;
    z-index: 301;
    padding: 20px;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  #menu li a:first-child {
    margin-top: 10px;
  }

  #menu-img-mb {
    display: block;
  }

  #menu.active {
    display: block;
    animation: show-right 0.6s forwards;
  }

  .menu-dropdown {
    position: static;
    border: none;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .menu-logo img {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .menu-logo img {
    width: 130px;
    margin-left: 8px;
  }
}
