  .counter-section {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 50vh;
    margin-top: 8px;
    margin-top: 60px;
    width: 100%;
    background-color: #0E123B;
  }

  .counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counter {
    font-size: 64px;
    font-weight: bold;
    color: white;
  }

  .description {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: -10px;
    width: 120px;
  }

  /* Tablets (até 1024px) */
@media (max-width: 1024px) {
  .counter-section {
    gap: 60px;
    padding: 40px 20px;
  }

  .counter {
    font-size: 56px;
  }

  .description {
    font-size: 18px;
    width: 100px;
  }
}

/* Smartphones grandes (até 768px) */
@media (max-width: 768px) {
  .counter-section {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }

  .counter {
    font-size: 48px;
  }

  .description {
    font-size: 17px;
    margin-top: -6px;
    width: 100%;
  }
}

/* Smartphones pequenos (até 480px) */
@media (max-width: 480px) {
  .counter-section {
    gap: 30px;
    padding: 30px 10px;
  }

  .counter {
    font-size: 40px;
  }

  .description {
    font-size: 16px;
    width: 100%;
  }
}