@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px 20px;
    min-height: 50vh;
  }

  .counter-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza número + texto */
  }

  .counter {
    font-size: 64px;
    font-weight: bold;
    color: #0c1022;
  }

  .description {
    font-size: 20px;
    color: #0E123B;
    text-align: center;
    margin-top: -10px;
    width: 120px;
  }