.sobre-nos-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  position: relative;
  justify-content: center;
  background-size: 1000px;
  background-image: url('../../images/deco/fundo.png');
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px;
  /* height: 60vh; */
  /* padding: 80px 60px; */
  /* padding-top: 64px; */
}

.sobre-nos-text {
  max-width: 40%;
  position: relative;
}

.sobre-nos-container .sobre-nos-text .title {
  font-size: 36px;
  color: #10133B;
  position: relative;
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: 'terminator';
}

.sobre-nos-text .title span {
  font-family: 'future-earth';
  font-size: 49px;
  margin-left: 2px;
  margin-right: -2px;
}

.sobre-nos-text .title::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: #c2c2c2;
  position: absolute;
  transform: translateX(35%);
  left: 0;
  top: 55%;
  z-index: -1;
}

.sobre-nos-text p {
  font-size: 17px;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: justify;
  color: #000000;
  line-height: 1.6;
  margin-top: 15px;
}

.sobre-nos-btn {
    padding: 12px 40px;
    display: inline-block;
    background: linear-gradient(#0E123B, #1a1f4d);
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    text-transform: uppercase;
    font: 600 16px var(--font-roboto);
    max-width: max-content;
    cursor: pointer;
    color: #fff;
    margin-top: 16px;
}

.sobre-nos-btn:hover {
  background: linear-gradient(#0E123B, #121638);
  transform: scaleX(1.1);
  transition: transform 0.5s ease;
}

.sobre-nos-image {
  max-width: 40%;
  text-align: center;
  margin-left: 79px;  
}

.sobre-nos-image img {
  width: 330px;
}

.sobre-nos-icon-left {
  margin-left: 420px;
  width: 18px;
  animation: float-sobre-nos-left 15s ease-in-out infinite;
}

@keyframes float-sobre-nos-left {
  0%   { transform: translate(0px, 0px); }
  15%  { transform: translate(-25px, 20px); }
  30%  { transform: translate(35px, 15px); }
  50%  { transform: translate(50px, 25px); }
  70%  { transform: translate(20px, 15px); }
  85%  { transform: translate(-30px, 10px); }
  100% { transform: translate(0px, 0px); }
}

.sobre-nos-icon-right {
  margin-bottom: 10px;
  margin-left: 310px;
  width: 18px;
  animation: float-sobre-nos-right 9s ease-in-out infinite;
  position: absolute;
  top: 0;
  right: 200px;
  margin: 0;
}

@keyframes float-sobre-nos-right {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(10px, -10px); }
  40%  { transform: translate(-20px, -10px); }
  60%  { transform: translate(-30px, 5px); }
  80%  { transform: translate(-25px, -10px); }
  100% { transform: translate(0, 0); }
}

/* Celulares Pequenos: até 576px */
@media (max-width: 576px) {
  .sobre-nos-container {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .sobre-nos-text,
  .sobre-nos-image {
    max-width: 90%;
    margin: 0 auto;
  }

  .sobre-nos-container .sobre-nos-text .title {
    font-size: 25px;
    text-align: left;
  }

  .sobre-nos-text .title span{
    font-size: 35px;
  }

  .sobre-nos-text p {
    font-size: 14px;
    text-align: justify;
  }

  .sobre-nos-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .sobre-nos-image {
    margin-top: 30px;
  }

  .sobre-nos-image img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }

  .sobre-nos-icon-left,
  .sobre-nos-icon-right {
    width: 14px;
    margin: 10px auto;
    position: static;
    display: block;
  }
}

/* Celulares Maiores: 577px até 768px */
@media (min-width: 577px) and (max-width: 768px) {
  .sobre-nos-container {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .sobre-nos-text,
  .sobre-nos-image {
    max-width: 90%;
    margin: 0 auto;
  }

  .sobre-nos-container .sobre-nos-text .title {
    font-size: 27px;
  }

  .sobre-nos-text .title span{
    font-size: 38px;
  }

  .sobre-nos-text p {
    font-size: 13px;
    text-align: justify;
  }

  .sobre-nos-btn {
    font-size: 14px;
    padding: 10px 25px;
  }

  .sobre-nos-image {
    margin-top: 30px;
  }

  .sobre-nos-image img {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .sobre-nos-icon-left,
  .sobre-nos-icon-right {
    width: 15px;
    margin: 15px auto;
    position: static;
    display: block;
  }
}

/* Tablets: 769px até 1024px */
@media (min-width: 769px) and (max-width: 1200px) {
  .sobre-nos-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    position: relative;
  }

  .sobre-nos-text {
    max-width: 46%;
  }

  .sobre-nos-container .sobre-nos-text .title {
    font-size: 30px;

  }

  .sobre-nos-text .title span{
    font-size: 42px;
  }

  .sobre-nos-text p {
    font-size: 14px;
  }

  .sobre-nos-btn {
    font-size: 14px;
    padding: 10px 30px;
  }

  .sobre-nos-image {
    max-width: 40%;
  }

  .sobre-nos-image img {
    width: 240px;
  }

  .sobre-nos-icon-right {
    right: -70px;
  }
}

@media (min-width: 1201px) and (max-width: 1660px) {
  .sobre-nos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* padding: 60px 40px; */
    position: relative;
  }

  .sobre-nos-text {
    max-width: 40%;
  }

  .sobre-nos-container .sobre-nos-text .title {
    font-size: 33px;
  }

  .sobre-nos-text .title span{
    font-size: 46px;
  }

  .sobre-nos-text p {
    font-size: 16px;
  }

  .sobre-nos-btn {
    font-size: 15px;
    padding: 10px 35px;
  }

  .sobre-nos-image {
    max-width: 40%;
  }

  .sobre-nos-image img {
    width: 260px;
  }

  .sobre-nos-icon-right {
    right: 0px;
  }
}