@import "./global/utilitario.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

body {
  background-color: #ffffff;
  color: #0f172a;
}

.background-wrapper {
  position: relative;
  z-index: 0;
}

.background-wrapper2 {
  position: relative;
  z-index: 0;
  margin-left: auto;
  transform: scaleX(-1);
}

.background-icon {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 10%;
}

.google-header {
  background-image: url(../images/pessoas-negocio-usando-internet-azul.jpg);
  background-attachment: fixed;
  background-size: cover;
  /*background: linear-gradient(90deg, #10133b, #1e2060);*/
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Oswald';
  margin-top: 164px;
  text-transform: uppercase;
}

.content-grid {
  padding: 3rem;
  padding-right: 150px;
  padding-left: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}

.info-block {
  padding: 1rem 0;
}

.info-block h2 {
  color: #10133B;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-optical-sizing: auto;
}

.info-block h2::before {
  content: none !important;
  display: none !important;
}

.info-block p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  color: #334155;
  text-justify: inter-word;
  hyphens: auto;
}

.visual-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-element img {
  width: 200px;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.feature-icon {
  width: 80px;
  margin-bottom: 1rem;
}

.sobre-nos-icon-one {
  width: 18px;
  animation: float-sobre-nos-one 13s ease-in-out infinite;
  margin-left: auto;
  margin-right: 320px;
  position: relative;
  top: 170px;
}

@keyframes float-sobre-nos-one {
  0%   { transform: translate(0px, 0px); }
  15%  { transform: translate(-25px, 20px); }
  30%  { transform: translate(35px, 15px); }
  50%  { transform: translate(50px, 25px); }
  70%  { transform: translate(20px, 15px); }
  85%  { transform: translate(-30px, 10px); }
  100% { transform: translate(0px, 0px); }
}

.sobre-nos-icon-two {
  margin-left: 320px;
  width: 18px;
  animation: float-sobre-nos-two 15s ease-in-out infinite;
  position: relative;
}

@keyframes float-sobre-nos-two {
  0%   {  transform: translate(0px, 0px) rotate(0deg); }
  15%  { transform: translate(-40px, 35px) rotate(-5deg); }
  30%  { transform: translate(50px, 25px) rotate(4deg); }
  50%  { transform: translate(70px, -20px) rotate(-6deg); }
  70%  { transform: translate(25px, 40px) rotate(6deg); }
  85%  { transform: translate(-45px, -30px) rotate(-4deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

.sobre-nos-icon-three {
  margin-left: 420px;
  width: 18px;
  animation: float-sobre-nos-three 13s ease-in-out infinite;
  margin-left: auto;
  margin-right: 360px;
}

@keyframes float-sobre-nos-three {
  0%   { transform: translate(0px, 0px); }
  15%  { transform: translate(-25px, 20px); }
  30%  { transform: translate(35px, 15px); }
  50%  { transform: translate(50px, 25px); }
  70%  { transform: translate(20px, 15px); }
  85%  { transform: translate(-30px, 10px); }
  100% { transform: translate(0px, 0px); }
}

@media (max-width: 1540px) {
  .google-header {
    font-size: 2.5rem;
  }

  .info-block h2 {
    text-align: left;
  }

  .visual-element img {
    width: 200px;
  }

  .sobre-nos-icon-one {
    margin-right: 100px;
  }

  .sobre-nos-icon-two {
    margin-left: 200px;
  }

  .sobre-nos-icon-three {
    margin-right: 110px;
  }
}

@media (max-width: 900px){
  .google-header{
    margin-top: 90px;
  }

  .sobre-nos-icon-one {
    margin-right: 70px;
    top: 120px;
  }

  .content-grid {
    padding: 2rem 1.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .google-header {
    font-size: 1.7rem;
    padding: 2rem 1rem;
  }

  .content-grid {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .sobre-nos-icon-one {
    top: 280px
  }

  .sobre-nos-icon-two {
    top: 250px;
    margin-left: 90px
  }

  .content-grid .info-block {
    order: 1;
  }

  .info-block h2 {
    font-size: 1.3rem;
    text-align: left;
  }

  .info-block p {
    font-size: 0.95rem;
  }

  .content-grid .visual-element {
    order: 2;
  }
  .content-grid .visual-element {
    order: 2;
  }

  .visual-element img {
    width: 160px;
  }
}

@media (max-width: 480px) {
  .google-header {
    font-size: 1.1rem;
    padding: 1.5rem 1rem;
  }

  .sobre-nos-icon-two {
    margin-left: 50px;
  }

  .content-grid {
    padding: 1.5rem 1rem;
  }

  .info-block h2 {
    font-size: 1rem;
    text-align: left;
  }
  
  .info-block p {
    font-size: 0.9rem;
  }
  
  .visual-element img {
    width: 140px;
  }

  .feature-icon {
    width: 60px;
  }
}